<footer class="site-footer">
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li>Kontakt</li>
          <li><a href="mailto:bjorn@cs.uit.no">Bjørn Fjukstad</a></li>
        </ul>
      </div>

       <div class="footer-col  footer-col-3">
      </div>
       <div class="footer-col  footer-col-2">
          <img src="{{site.baseurl}}/public/uit-logo-no.png" class="bottomlogo"></img> 
        </div> 
    </div>
  </div>
</footer>
